<html>
	<head>Welcome to {{greet_message}}</head>
        <body>
                <h1>Configured by : {{organization_name}}</h1>
                <h1>Provisioned by : {{provisioner_tool}}</h1>
                <h1>Automation tool : {{automation_tool}}</h1>
                <h1>Operation System : {{os}}</h1>
                <h1>Python Version : {{python}}</h1>
	</body>
</html>
